.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.7);
    margin-top: 80px;
}

.wrapper .card{
    max-width: 300px;
    background-color: white;
    padding: 40px;
    margin: 30px 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px -1px rgba(10,99,169,0.16),
    3px 3px 10px -1px rgba(255,255,255,0.7);
}
